* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron" , sans-serif;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem ;
    padding-top: 3rem;
    background-color: rgb(253, 216, 222);
    height: 100vh;
}

.container h1 {
    color: black;

}
.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: rgb(63, 8, 114);

}

.time  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: rgb(134, 17, 243);
    min-width: 90px;
}

.separator {
   
    padding: 0 10px;
    color: rgb(25, 1, 28);

}

#milliseconds {
    font-size: 30px;
  color:rgb(105, 61, 147);  

}

.buttons {

    display: flex;
    gap: 1rem;
}

.btn {
padding: 10px 20px;
font-size: 18px;
font-weight: bold;
border-radius: 30px;
cursor: pointer;
border: 1px solid #CCC;
transition: all 0.2s ease-in-out;

}

.btn:hover {

    transform: scale(1.1);
}

#startBtn{
    background-color: rgb(63, 8, 114);
    color: white;
}

#pauseBtn, #resumeBtn{
    display: none;

}